<div class="navbar navbar-dark bg-primary sticky-top">
	<h1> Big Name </h1>
	<!-- menu row -->
	<ul class="nav nav-pills justify-content-center float-right">
		
		
		<li class="nav-item">
			<a class="nav-link active" data-toggle="pill" role="tab" href="#home">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="pill" role="tab" href="#about">About</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="pill" role="tab" href="#resume">Resume</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="pill" role="tab" href="#written">Written Works</a>
		</li>
	</ul>
</div>
